.timer-container {
    padding: 30px;
    position: relative;
}

.progress {
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    height: 2px;
    background: #c3c3c3;
}

.inner-progress {
    background: #ca4c4c;
    height: 2px;
}

.timer{
    font-size: 60px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
}



.tomato-container {
display: flex;
justify-content: center;
flex-direction: column;
}

.tomato {

    font-size: 13px;
    margin: 0px 4px;
}

@keyframes blinker {
  20% { opacity: 0; }
}