.timer{
    font-size: 60px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;

}

.blink {
    opacity: 1;
}

.tomato-container {
display: flex;
justify-content: center;
flex-direction: column;
opacity: 0;
animation: blinker 2s infinite

}
.tomato {

    font-size: 13px;
    margin: 0px 4px;
}

@keyframes blinker {
  50% { opacity: 1; }
  100%{ opacity: 0; }
}