.task-list-container {
    border-top: 1px solid #c3c4c5;
    margin: 0px 60px 20px 60px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.input {
    border: none;
    outline: none;
    box-shadow: 0 0 1px #c3c3c3;
    background: #f6f9fc;
    padding: 5px 20px 8px 13px;
    border-radius: 3px;
    font-size: 18px;
    transition: background-color .5s linear, color .5s linear, opacity .5s linear;
    flex-basis: 40%;
    max-width: 800px;
}
.input:focus {
    background: #f9f9f9;
}
